* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #242424;
  --color: #ffffffde;
  --success-color: #24ad24;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  min-height: 100dvh;
  width: 100%;
}


#app {
  min-height: inherit;
  max-width: 1280px;
  min-width: 270px;
  margin: 0 auto;
  text-align: center;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: #4d4c4cbd;
  backdrop-filter: blur(1px);
  z-index: 1000;
}

.dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  background: var(--background-color);
  width: 50%;
  max-width: 300px;
  min-width: 220px;
}

.dialog-enter-active,
.dialog-leave-active {
  transition: opacity 0.3s ease;
}

.dialog-enter-active .dialog-content,
.dialog-leave-active .dialog-content {
  transition: translate 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;
}

.dialog-enter-from .dialog-content,
.dialog-leave-to .dialog-content {
  opacity: 0;
  translate: -50%;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --background-color: #ffffff;
  }
}